# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.dist/
build/
.venv/
venv/
.env

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data (do not commit full Kaggle dataset)
data/*.csv
!data/sample_kdrama.csv

# Logs
*.log
